[class*="col-"] {
    width: 100%;
    
  }
  .body{
    max-width: 1200px;
}

.blackbox{
    background-color: black;
    padding:20px;
    margin: 20px;
    padding-bottom: 5px;
        }
        .greybox{
            background-color: rgb(67, 67, 68);
            padding: 20px;
            display:flex;
            flex-flow: column;
            }
            .red1{
            background-color: red;
            margin-bottom:10px;
            padding: 10px;
            }
            .red2{
            background-color: red;
            margin-bottom:10px;
            padding: 10px;
            }
            .red3{
            background-color: red;
            padding: 10px;
            }
            .banner{
                padding: 10px;
                background-color: yellow;
                border: 20px solid orange;
            }
.redelements{
}
.blackbox2{
    align-content: inline-block;
    flex: auto;
    align-content: center;
    background-color: black;
    padding:20px;
    margin: 20px;
}
    .greybox2{
    background-color: rgb(67, 67, 68);
    padding: 10px;
    display:flex;
    flex-direction: column;  
    }
        .blue1{
        background-color: blue;
        display: flex;
  
        margin: 10px;
        padding: 10px;
        }
        .navegacion{
        background-color:cornflowerblue;
        display: flex;
     
        margin:10px;
        padding: 10px;
        }

        .pink{
        flex
            display:inline-table;
            background-color: pink;
            padding: 20px;
            margin: 20px 0px 0px 0px;
        }   
        .yellow1{
            display: block;
            background-color: yellow;
            padding: 5px 5px 5px 5px;
            margin: 0px 0px 10px 0px;
        }  
        .yellow2{
            display: block;
            background-color: yellow;
            padding: 5px 5px 5px 5px;
            margin: 0px 0px 0px 0px;
        }             
          
.greybox2elements{

}
.blackbox3{
    background-color: black;
    padding:20px;
    margin: 20px;
}
.pie{
    display:flex;
    align-items:center;
    height: 40px;
    background-color:darkkhaki;
    padding:10px;
}
@media (min-width: 768px) {
.greybox2{
    display: flex;
    flex-flow: row wrap;
}
    .blue1{flex: 1 1 30%;}
    .navegacion{flex: 1 1 100%;}
}
@media (min-width: 1200px) {
    
.greybox{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
    .red1{
     
       flex:1 1 auto;
       height: 20px;
       margin: 0;
       
    }
    .red2{
        flex:4 1 auto;
        height: 20px;
        margin: 0px 10px 0px 10px;
    }
    .red3{
        flex:1 1 auto;
        height: 20px;
        margin: 0;
      
    }

.blackbox2{
    display: flex;
}
    .greybox2{
        flex: 1 1 80%;
        margin-right: 20px;
    }
        .blue1{
        }
        .navegacion{
        }
    .pink{
        flex: 1 1 10%;
        margin: 0;
            }
}
